.wrapper {
	background-color: white;
	width: 1200px;
	margin: auto;
}

.unit-1, .unit-2, .unit-3 {
	margin: 0 10px 0 10px;
	float: left;
	position: relative;
}

.unit-1 {
	width: 80px;
}

.unit-2 {
	width: 180px;
}

.unit-3 {
	width: 280px;
}
