@import url("../styles/grid.css");
@import url("../styles/header.css");
@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);

@font-face {
	font-family: "MyriadPro";
	src: url("../fonts/MyriadPro-Regular.otf");
}

body {
	font-family: 'PTSans', sans-serif;
	margin: 0;
}

.outer-wrapper.top {
	background: url('../images/upper-back.jpg');
}

.outer-wrapper.bottom {
	background: url('../images/lower-back.jpg');
}

.clearfix:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

div.content {
	background-color: white;
	position: relative;
	padding-top: 15px;
}
